<h1>favourites Books</h1>
<div id="header" class="scroll">
    <span class="slide">
        <a href=""><img src="../assets/Images/fg1.jpg" alt="Image" width="150" height="200"></a>
        <div class="btns" >
            <Button id="btnh1" class="btn" appFavouriteButton><i class="fas fa-heart"></i></Button>
        </div>
    </span>
    <span class="slide">
        <a href=""><img src="../assets/Images/fg2.jpg" alt="Image" width="150" height="200"></a>
        <div class="btns" >
            <Button id="btnh1" class="btn" appFavouriteButton><i class="fas fa-heart"></i></Button>
        </div>
    </span>
    <span class="slide">
        <a href=""><img src="../assets/Images/fg3.jpg" alt="Image" width="150" height="200"></a>
        <div class="btns" >
            <Button id="btnh1" class="btn" appFavouriteButton><i class="fas fa-heart"></i></Button>
        </div> 
    </span>
</div>
